
.navMain{
  
  
}
.nav{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}
a:hover{
  color: rgb(218, 32, 110);
  
}
.active{
  font-weight: bold;
  color: #9168b6;
}



